.ipynb_checkpoints
.DS_Store
__pycache__
metastore_db
spark-warehouse
*tensorboard-logs*
*.log
*.data
*.zip
*.out
*.gz
*.csv

#*.html
*.txt

data/cat-dog

notebooks/solutions/08-transfer-learning/8.1-transfer-learning
notebooks/solutions/08-transfer-learning/cat-dog*
notebooks/solutions/08-transfer-learning/8.1-transfer-learning/*.model
notebooks/08-transfer/cat-dog

notebooks/solutions/08-transfer-learning/8.2-tensorflow-import/dogs-vs-cats
notebooks/solutions/08-transfer-learning/8.2-tensorflow-import/inception_v1.ckpt
*log/*
notebooks/solutions/08-transfer-learning/8.2-tensorflow-import/models
notebooks/solutions/08-transfer-learning/8.2-tensorflow-import/log/
